extends layout

block content
  h1= title
  p.
    <i>rotoscopic</i> is an open collaborative drawing project,
    it currently is at its lighttable state.
  h2 view animations
  p here shall be a list of projects
  h2 for users
  p you should create a user before start drawing
  h2 for developpers
  p This script is mostly an 
    span(class='code') api
    span  for the rotoscopic front-end 
    a(href='/api/help') read the api documentation
      bi
  p