doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/src/lib/jquery/dist/jquery.js')
    script(src='/src/js/server.js')
  body
    div.content
      block content