body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eee;
  margin: 20px;
}

a {
  color: #00B7FF;
}

.content {
  background-color: #fff;
  padding: 50px;
  max-width: 350px;
}

span.code {
  padding: 2px 3px;
  background: #eee;
  color: #666;
  font-family: monospace;
}

.label {
  margin: 2px;
}

.active {
  padding: 2px 3px;
  background-color: #333;
  border-radius: 2px;
  color: #fff;
}